body{
font-family: 'Love Ya Like A Sister', cursive;
background-color: #FAF0E6;
}

.bg-2{
  background-color: #A52A2A;
  color: #FAF0E6;
  padding-top: 70px;
  padding-bottom: 70px;
}

.sticky-top{
  opacity: 0.9;
}
.bg-3{
  background-color: #FAF0E6;
  padding-top: 70px;
  padding-bottom: 70px;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
#map{
  filter: grayscale(100%);
}
